
.flextabs{}

.flextabs .flextabs-nav{
   width: 100%;
   display: block;
   border-bottom: 1px solid #ccc;
   height: 40px;
   line-height: 40px;   
   margin: 0;
   padding:0;
}
   .flextabs .flextabs-nav li{
      list-style: none;
      display: inline-block;
      vertical-align: top;
      width: auto;   
      margin: 0;
      padding:0;
      position: relative;
   }
   .flextabs .flextabs-nav li a{
      background: #ccc;
      border: 1px solid #ccc;
      display: block; 
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
   }
   
   .flextabs .flextabs-nav li.active a{
      border-bottom-color: #efefef;
      background-color: #efefef;
      font-weight: bold;
   }      
   .flextabs-pane{
      display: none;
      padding: 10px 10px 20px;
   }
   
   .flextabs-pane.active{
      display: block;
   } 

